{% extends "cv_app/base.html" %}

{% load static %}

 <link rel="stylesheet" href="{% static 'cv_app\css\main.css' %}" />
{% block content %}

   <div class="sidebar try">
                    <ul class="nav">
                        <li><a href="#propos">Profil</a></li>
                        <li><a href="#education">education</a></li>
                        <li><a href="#experiences">experiences</a></li>
                        <li><a href="#competences">Compétences</a></li>
                        <li><a href="#interêts">Interêts</a></li>
                    </ul>
                    

                 <div class="contactInfo">
                        <h3 class="titre">Contact Info</h3>
                        <ul>
                            <li>
                                <span class="icon"><i class="fa fa-phone-square " aria-hidden="true "></i></span>
                                <span class="text">+32 466 259 227</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-envelope " aria-hidden="true "></i></span>
                                <span class="text">keprhen88@gmail.com</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-github" aria-hidden="true "></i></span>
                                <span class="text">github.com/me</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-linkedin-square" aria-hidden="true "></i></span>
                                <span class="text">www.linkedin.com/moi</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true "></i></span>
                                <span class="text">100 rue des tanneurs,1000,Bruxelles</span>
                            </li>

                        </ul>
                    </div>
                    <section id="education">
                        <div class="contactInfo education">
                            <h3 class="titre ">education</h3>
                            <ul>
                                <li>
                                    <h5>Juin 2021 - decembre 2022</h5>
                                    Developpeur Web</h4>
                                    Cfitech, Koekelberg</h4>
                                </li>
                                <li>
                                    <h5>Septembre 2011 - Mai 2016</h5>
                                    masteur,ecole de commerce</h4>
                                    EICD-3A, Lyon</h4>
                                </li>
                                <li>
                                    <h5> 2005 - juillet 2009</h5>
                                    Baccalauléreat </h4>
                                    Lycée Galandou Diouf, Dakar</h4>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section>
                        <div class="contactInfo language">
                            <h3 class="titre "> Langues</h3>
                            <ul>
                                <li>
                                    <span class="text">Français</span>
                                    <span class="percent">
                            <div style="width:95%;"></div>
                        </span>
                                </li>
                                <li>
                                    <span class="text">Anglais</span>
                                    <span class="percent">
                        <div style="width:80%;"></div>
                        </span>
                                </li>
                                <li>
                                    <span class="text">Wolof</span>
                                    <span class="percent">
                        <div style="width:95%;"></div>
                        </span>
                                </li>
                            </ul>
                        </div>
                </div>
                </section>
            </div>
        </div>



            <div class="col-sm-9 ">

                  <div class="right_side" id="propos">

                    <div class="a_propos">
                        <h2 class="title">Profil</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat sunt eligendi quod error iusto facilis dolore aspernatur perferendis, laboriosam ipsam.
                        </p>
                    </div>

                   <div class="a_propos" id="experiences">
                        <p id="experiences"></p>
                        <h2 class="title">Experiences</h2>
                        <div class="box">
                            <div class="year_school">
                                <h5>-2021 - Actuellement</h5>
                                <h5>Cfitech</h5>
                            </div>

                            <div class="text">
                                <h4>Etudiant en Web-developpement</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam inventore amet nulla optio, aliquid porro?</p>

                            </div>
                        </div>
                        <div class="box">
                            <div class="year_school">
                                <h5>-2021 - Actuellement</h5>
                                <h5>Cfitech</h5>
                            </div>
                            <div class="text">
                                <h4>Etudiant en Web-developpement</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam inventore amet nulla optio, aliquid porro?</p>
                            </div>
                        </div>
                    </div>
                    <div class="a_propos competences" id="competences">
                        <p id="competences"></p>
                        <h2 class="title">competences</h2>
                        <div class="box">
                            <h4>Html</h4>
                            <div class="percent">
                                <div style="width:80% "></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>CSS</h4>
                            <div class="percent">
                                <div style="width:80%"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>Python</h4>
                            <div class="percent">
                                <div style="width:80%"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>Django</h4>
                            <div class="percent">
                                <div style="width:80%"></div>
                            </div>
                        </div>

                        <div class="box">
                            <h4>PHP</h4>
                            <div class="percent">
                                <div style="width:80%"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>Symfony</h4>
                            <div class="percent">
                                <div style="width:80%"></div>
                            </div>
                        </div>
                    </div>
                   <div class="a_propos projets">
                        <h2 class="title">projets </h2>
                        <h3>Projet web</h3>
                        <ul>
                            <li>
                                <h4>FullStack en Symfony</h4>
                            </li>
                            <li>
                                <h4>Front-end avec html, css, twig et bootstrap</h4>
                            </li>
                            <li>
                                <h4>Back-end avec le framework Symfony, PHP</h4>
                            </li>
                            <li>
                                <h4>Base de données avec MySQL</h4>
                            </li>
                        </ul>
                        <h3>Projet web</h3>
                        <ul>
                            <li>
                                <h4>Creation d'un site pour un restaurant</h4>
                            </li>
                            <li>
                                <h4>Html/Css/Javascript</h4>
                            </li>
                        </ul>
                        <h3>Projet python</h3>
                        <ul>
                            <li>
                                <h4>Creation d'un jeu,le juste prix</h4>
                            </li>
                            <li>
                                <h4>Le pendu</h4>
                            </li>
                        </ul>
                    </div>
                   <section id="interêts">
                        <div class="a_propos interets">
                            <h2 class="title">interêts</h2>
                            <ul>
                                <li>
                                    <span class="icon"><i class="fa fa-cutlery" aria-hidden="true "></i></span>
                                    <span class="text">Cuisine</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa fa-plane" aria-hidden="true "></i></span>
                                    <span class="text">Voyage</span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fa fa-book" aria-hidden="true "></i></span>
                                    <span>Lecture</span>
                                </li>
                                <li><span class="icon"><i class="fa fa-futbol-o" aria-hidden="true "></i></span>
                                    <span class="text">football</span>
                                </li>
                            </ul>
{% comment %}
                        </div>
                    </section>
                </div>
            </div>
        </div> {% endcomment %}

    
{% endblock %}