{% extends "portof_app/base.html" %}

{% load static %}

 <link rel="stylesheet" href="{% static 'cv_app\css\main.css' %}" />

{% block content %}
<div class="sidebar try">
                    <ul class="nav">
                        <li><a href="#propos">Algorithmie</a></li>
                        <li><a href="#web">Projet_web</a></li>
                        
                    </ul>
                     <div class="contactInfo">
                        <h3 class="titre">Contact Info</h3>
                        <ul>
                            <li>
                                <span class="icon"><i class="fa fa-phone-square " aria-hidden="true "></i></span>
                                <span class="text">+32 466 259 227</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-envelope " aria-hidden="true "></i></span>
                                <span class="text">keprhen88@gmail.com</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-github" aria-hidden="true "></i></span>
                                <span class="text">github.com/me</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-linkedin-square" aria-hidden="true "></i></span>
                                <span class="text">www.linkedin.com/moi</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true "></i></span>
                                <span class="text">100 rue des tanneurs,1000,Bruxelles</span>
                            </li>

                        </ul>
                    </div>
                     <section id="education">
                        <div class="contactInfo education">
                            <h3 class="titre ">education</h3>
                            <ul>
                                <li>
                                    <h5>Juin 2021 - decembre 2022</h5>
                                    Developpeur Web</h4>
                                    Cfitech, Koekelberg</h4>
                                </li>
                                <li>
                                    <h5>Septembre 2011 - Mai 2016</h5>
                                    masteur,ecole de commerce</h4>
                                    EICD-3A, Lyon</h4>
                                </li>
                                <li>
                                    <h5> 2005 - juillet 2009</h5>
                                    Baccalauléreat </h4>
                                    Lycée Galandou Diouf, Dakar</h4>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section>
                        <div class="contactInfo language">
                            <h3 class="titre "> Langues</h3>
                            <ul>
                                <li>
                                    <span class="text">Français</span>
                                    <span class="percent">
                            <div style="width:95%;"></div>
                        </span>
                                </li>
                                <li>
                                    <span class="text">Anglais</span>
                                    <span class="percent">
                        <div style="width:80%;"></div>
                        </span>
                                </li>
                                <li>
                                    <span class="text">Wolof</span>
                                    <span class="percent">
                        <div style="width:95%;"></div>
                        </span>
                                </li>
                            </ul>
                        </div>
                </div>
                 </section>
            </div>
        </div>
                   
                    
                    <div class="col-sm-8 row box">
                        <div class="right_side" id="propos">
                <h1 class="titre">Projets Algorithmie, python, javascript, java</h1>

                <div class="a_propos">
                    <h1>Python:Le pendu</h1>
                    <p>
                        Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>
                <div class="juste">
                    <h1> Python:Le juste prix</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>
                <div class="machine">
                    <h1> JS:macine a café</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>
                <div class="date">
                    <h1> Java:Date du lendemain</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>

            <div class="row box">
                <h1 class="title" id="web">Projets Web, symfony, Django</h1>

                <div class="pin">
                    <h1>Pinterest</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>
                <div class="pendu">
                    <h1>voiture</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>
                <div class="pendu">
                    <h1>Video</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>
                <div class="pendu">
                    <h1>cv_website</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repellendus rem earum consequatur cupiditate itaque deserunt incidunt officiis id! Commodi aliquid eum architecto corrupti quos!
                    </p>

                </div>

            </div>
         </div>

        </div>
    </div>
    {% endblock %}
